* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #22212C;
  color: #837E9F;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  gap: 2rem;
}
@media (max-width: 1060px) {
  .aside {
    width: 100vw;
  }
}
.aside-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18.25rem;
  width: 22.75rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #302F3D;
}
@media (max-width: 450px) {
  .aside-section-1 {
    width: 100%;
    border-radius: 0;
  }
}
.aside-section-1-img {
  border-radius: 50%;
}
.aside-section-1 div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.aside-section-2 {
  height: 21.75rem;
  width: 22.75rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #302F3D;
}
@media (max-width: 450px) {
  .aside-section-2 {
    width: 100%;
    border-radius: 0;
  }
}
.aside-section-2-ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.aside-section-2-ul-li {
  display: flex;
  gap: 1rem;
}
.aside-section-3 {
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22.75rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #302F3D;
}
@media (max-width: 450px) {
  .aside-section-3 {
    width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 364px) {
  .aside-section-3 {
    height: auto;
  }
}
.aside-section-3 h2 {
  margin-bottom: 1rem;
}
.aside-section-3-tecnologias button {
  width: 5.1rem;
  height: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.5rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  background-color: #CB92B1;
}
.aside-section-4 {
  width: 22.75rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #302F3D;
}
.aside-section-4 h2 {
  margin-bottom: 1rem;
}
.aside-section-4 dl dt {
  font-weight: 700;
}
.aside-section-4 dl dt:hover {
  opacity: 0.7;
}
.aside-section-4-dd {
  text-indent: 1.5rem;
  font-weight: 400;
}
@media (max-width: 450px) {
  .aside-section-4 {
    width: 100%;
    border-radius: 0;
  }
}
.aside-section-5 {
  width: 22.75rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #302F3D;
}
.aside-section-5 h2 {
  margin-bottom: 1rem;
}
.aside-section-5 dl dt {
  font-weight: 700;
}
.aside-section-5 dl dt:hover {
  opacity: 0.7;
}
.aside-section-5-dd {
  text-indent: 1.5rem;
  font-weight: 400;
}
@media (max-width: 450px) {
  .aside-section-5 {
    width: 100%;
    border-radius: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 2rem;
}
@media (max-width: 1060px) {
  .main {
    width: 100vw;
  }
}
@media (max-width: 788px) {
  .main {
    display: none;
  }
}
.main-section-1 {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #302F3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1060px) {
  .main-section-1 {
    width: 19.25rem;
  }
}
.main-section-1 a {
  text-decoration: none;
  color: #837E9F;
}
.main-section-1 a:hover {
  color: #CB92B1;
  transition: 0.7s;
}
.main-section-2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1136px) {
  .main-section-2 {
    flex-direction: column;
    gap: 2rem;
  }
}
.main-section-2-div-principal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 29vw;
  background-color: #302F3D;
  border-radius: 1rem;
  padding: 2rem;
}
.main-section-2-div-principal-div1 {
  display: flex;
  gap: 1.5rem;
}
.main-section-2-div-principal-div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
@media (max-width: 1132px) {
  .main-section-2-div-principal-div2 {
    display: block;
  }
}
.main-section-2-div-principal-div2-div2b {
  display: flex;
  gap: 1rem;
}
.main-section-2-div-principal-div2-div2c {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-section-2-div-principal-div2-div2c p:nth-child(1) {
  border: 5px solid yellow;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.main-section-3 {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #302F3D;
}
@media (max-width: 1060px) {
  .main-section-3 {
    width: 19.25rem;
  }
}
.main-section-4 {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #302F3D;
  display: flex;
  gap: 1rem;
}
@media (max-width: 1060px) {
  .main-section-4 {
    width: 19.25rem;
    display: block;
  }
}
.main-section-4 img {
  border-radius: 50%;
}
@media (max-width: 1060px) {
  .main-section-4 img {
    margin-bottom: 1rem;
  }
}
.main-section-4-div-principal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main-section-4-div-principal-div1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-section-4-div-principal-div1-div1b {
  display: flex;
  gap: 1rem;
}
@media (max-width: 1060px) {
  .main-section-4-div-principal-div1-div1b {
    display: block;
  }
}

/*# sourceMappingURL=index.css.map */
